<h1>Add a recipe</h1>
<form action="/recipes" method="post">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="name">Description</label>
    <input type="text" name="description">
  </div>
  <div>
    <label for="name">Time to Prepare</label>
    <input type="text" name="time">
  </div>
  <div>
    <label for="name">Alredy done?</label>
    <input type="text" name="done">
  </div>
  <div>
    <label for="name">Difficulty:</label>
    <input type="text" name="difficulty">
  </div>

  <input type="submit" value="Add to cookbook">
</form>
